.container {
    display: flex;
    
    
  }
  
  .left-parent {
    flex:  70%; 
  
  }
  
  .right-parent  {
    flex: 30%; 
  }
  
  @media (max-width:600px) {
    .container {
      flex-direction:column;
    }
  
    .left,
    .right {
      flex: 1 0 100%; 
    }
  }







    
    


@media(max-width:600px){
    .container{
        flex-direction: column;
    }
}

